<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Light Bulb</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/jquery-2.2.4.min.js"></script>
    </head>

    <body>
        <div class="light">
            <div class="wire"></div>
            <div class="bulb"></div>
            <span></span>
            <span></span>
        </div>
        
        <div class="switch">
            <div class="btn"><input type="button" value="on" id="stat"></div>
        </div>

	<!-- add sound on click? -->
	<!-- <audio id="audio" src="css/click.mp3" autostart="false" crossOrigin="anonymous"></audio> -->
	<script src="./js/main.js"></script>
    </body>
</html>


